{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}Login{% endblock %}

{% block content %}

    <div id="purnkleenTeamFeature">
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div class="team-motto">Sorry to see you go<br><span class="solutions">Bye Felicia!</span></div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <h1>Logout</h1>
        <p class="lead">You are now logged out.</p>
        <p><a href="{% url 'index' %}">Home</a></p>

        <hr class="featurette-divider">

    </div>

{% endblock %}
