{% extends "base.html" %}

{% block title %}Password reset successful{% endblock %}

{% block content %}

    <div id="purnkleenAboutFeature">
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div class="team-motto">Password Reset<br><span class="solutions">DONE!</span></div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1>Password has been reset!</h1>
                <p>An email with instructions for setting a new password has been sent.</p>
            </div>
        </div>

        <hr class="featurette-divider">

    </div>

{% endblock %}
