{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}Change Password{% endblock %}

{% block content %}

    <div id="purnkleenAboutFeature">
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div class="team-motto">Change your password</div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-offset-2 col-sm-10">
                <h1>Change Password</h1>
            </div>
        </div>

        <form action="{% url 'password_change' %}" method="post" role="form" class="form-horizontal">
            {% csrf_token %}
            {% bootstrap_form form layout='horizontal' %}

            {% buttons %}
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-lg purnkleen-red-btn">Change password</button>
                </div>
            {% endbuttons %}
        </form>

        <hr class="featurette-divider">

    </div>

{% endblock %}
