{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}Registration{% endblock %}

{% block content %}

    <div id="purnkleenAboutFeature">
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div class="team-motto">Sign Up<br><span class="solutions">You know you want to!</span></div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-offset-2 col-sm-10">
                <h1>Sign up</h1>
                <p>Already registered? <a href="{% url 'auth_login' %}">Sign in here.</a></p>
            </div>
        </div>

        <form action="{% url 'registration_register' %}" method="post" role="form" class="form-horizontal">
            {% csrf_token %}
            {% bootstrap_form form layout='horizontal' %}

            {% buttons %}
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-lg purnkleen-red-btn">
                        {% bootstrap_icon "star" %} Sign Me Up!
                    </button>
                </div>
            {% endbuttons %}
        </form>

        <hr class="featurette-divider">

    </div>

{% endblock %}
