{% extends 'base.html' %}

{% load static %}

{% block title %}Pur'N'Kleen Server Error{% endblock %}

{% block container %}

    <div id="purnkleenAboutFeature">
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div class="jobs-motto">Server Error</div>
                </div>
            </div>
        </div>
    </div>

    <div class="container purnkleen-marketing">
        <h1>We fucked up</h1>
    </div>

{% endblock %}