{% extends 'base.html' %}

{% load static %}

{% block title %}About Pur'N'Kleen{% endblock %}

{% block container %}

<div id="purnkleenAboutFeature">
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="jobs-motto">ABOUT US</div>
            </div>
        </div>
    </div>
</div>

<div class="container purnkleen-marketing">

    <div class="row featurette">
        <div class="col-md-12">
            <h2 class="featurette-heading">Who are you?</span></h2>
            <p class="lead">
                The Pur'N'Kleen [PNK] Organization is a Star Citizen resources and trading organization that aims to
                meet the galaxy's growing demand for energy in ways that are economically, environmentally and socially
                responsible. In other words, we make the best damn fuel out there and we have fun making it.
            </p>
        </div>
    </div>

    <div class="row featurette">
        <div class="col-md-12">
            <h2 class="featurette-heading">What exactly do you do?</span></h2>
            <p class="lead">
                Our core business revolves around producing and selling our three main fuel products:
            </p>
            <dl class="dl-horizontal lead">
                <dt>Pur'N'Kleen Boost Fuel</dt>
                <dd>A high-performance boost fuel designed to provide the maximum possible acceleration for any engine.</dd>
                <dt>Pur'N'Kleen Quantum Fuel</dt>
                <dd>A quantum fuel product designed for a wide variety of operating conditions at an affordable price.</dd>
                <dt>Pur'N'Kleen Racing Fuel</dt>
                <dd>A racing fuel product designed to maximize performance in a wide range of race engine applications.</dd>
            </dl>
            <p class="lead">
                As membership grows, we plan to expand our Pur'N'Kleen product line with additional products, such as
                Pur'N'Kleen Steel, Pur'N'Kleen Water, Pur'N'Kleen Pre-packaged Meals, and Pur'N'Kleen Meds.
            </p>
        </div>
    </div>

    <div class="row featurette">
        <div class="col-md-12">
            <h2 class="featurette-heading">When was PNK founded?</span></h2>
            <p class="lead"> <!-- 2945 = 2015 + 930-->
                The Pur'N'Kleen [PNK] Organization was officially created on December 2945, but much of it was developed
                many months prior.
            </p>
        </div>
    </div>

    <div class="row featurette">
        <div class="col-md-12">
            <h2 class="featurette-heading">Where is the Pur'N'Kleen HQ?</span></h2>
            <p class="lead">
                We are based out of the Nemo system.
            </p>
        </div>
    </div>

    <div class="row featurette">
        <div class="col-md-12">
            <h2 class="featurette-heading">Why Pur'N'Kleen?</span></h2>
            <p class="lead">
                Because <a href="https://en.wikipedia.org/wiki/The_Expanse_(novel_series)" target="_blank">The Expanse
                by James S.A. Corey</a> is an awesome novel series and because we like making UEC in Star Citizen.
            </p>
        </div>
    </div>

    <div class="row featurette">
        <div class="col-md-12">
            <h2 class="featurette-heading">Wait, I heard you split profits evenly among members?</span></h2>
            <p class="lead">
                Pur'N'Kleen works more like a tribe or family than a company. Members are equals part of the whole and
                they are expected to contribute and pull their weight, which is why we are VERY selective about who we
                bring in. All expenses and profits are shared among all members, with a certain amount reserved as
                bonuses for performance or safety. Yes. This means that inevitably some will put in more work than
                others, but we're all in this for fun, not ego.
            </p>
        </div>
    </div>

    <hr class="featurette-divider">

    </div>

{% endblock %}