{% extends 'base.html' %}

{% load static %}

{% block title %}About Pur'N'Kleen{% endblock %}

{% block container %}

<div id="purnkleenAboutFeature">
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="jobs-motto">About Pur'N'Kleen</div>
            </div>
        </div>
    </div>
</div>

<div class="container purnkleen-marketing">

    <div class="row featurette">
        <div class="col-md-12">
            <h2 class="featurette-heading">Who are you?</h2>
            <p class="lead">
                The Pur'N'Kleen [PNK] Organization is a Star Citizen resources and trading worker cooperative organization.
                The name is an homage to <a href="https://en.wikipedia.org/wiki/The_Expanse_(novel_series)" target="_blank">The Expanse
                by James S.A. Corey</a>.
            </p>

            <h2 class="featurette-heading">Our business is your business</h2>
            <p class="lead">
                Pur'N'Kleen is in the business of providing Star Citizen organizations with a competitive edge by
                solving their maintenance and supply chain needs through approaches based on deep industry knowledge.
                By combining our warehouse, distribution, transportation, and advanced knowledge, we give Star Citizen
                organizations end-to-end visibility into their operations while reducing their costs.
            </p>

            <h2 class="featurette-heading">Our Solutions and Services</h2>
            <p class="lead">
                We work with <strong>Combat, Mercantile, Exploration, and Racing Organizations</strong> and provide them
                with a variety of logistical and support services so they can focus on their craft.
            </p>
            <dl class="dl-horizontal lead">
                <dt><a href="{% url 'fuel-services' %}">Fuel Services</a></dt>
                <dd>Our line of fuel products and services are designed to give pros the performance they need to get their jobs done right. </dd>
                <dt><a href="{% url 'maintenance-and-repair' %}">Maintenance and Repair</a></dt>
                <dd>Let us take care of the regular maintenance for your ships. Our professional mechanics can fix any problem. </dd>
                <dt><a href="{% url 'transportation' %}">Transportation</a></dt>
                <dd>Fast moving and forward thinking crews that can get any job done.</dd>
            </dl>
            <p class="lead">
                In addition to the above, we also offer the following solutions to the community free of charge:
            </p>
            <dl class="dl-horizontal lead">
                <dt><a href="{% url 'mission-planner' %}">Mission Planner</a></dt>
                <dd>A tool to help you plan missions for your org. Coming soon.</dd>
                <dt><a href="{% url 'fleet-view' %}">Fleet View</a></dt>
                <dd>A tool to help you manage your fleet. Coming soon.</dd>
            </dl>
        </div>
    </div>

</div>

{% endblock %}