{% extends 'base.html' %}

{% load static %}

{% block title %}About Pur'N'Kleen{% endblock %}

{% block container %}

    <div id="purnkleenAboutFeature">
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div class="jobs-motto">ABOUT US</div>
                </div>
            </div>
        </div>
    </div>

    <div class="container purnkleen-marketing">

        <div class="row featurette">
            <div class="col-md-12">
                <h2 class="featurette-heading">Coming soon</h2>
            </div>
        </div>

    </div>

{% endblock %}