{% extends 'base.html' %}

{% load static %}

{% block title %}Pur'N'Kleen Fuel Services{% endblock %}

{% block container %}

    <div id="purnkleenServicesFeature">
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div class="jobs-motto">Pur'N'Kleen Services<br/><span class="solutions">Fuel</span></div>
                </div>
            </div>
        </div>
    </div>

    <div class="container purnkleen-marketing">

        <div class="row featurette">
            <div class="col-md-12">
                <h2 class="featurette-heading">Coming with Star Citizen 3.1</h2>
                <p class="lead">
                    Pur'N'Kleen plans to release a suite of fuel products marketed towards all kinds of working
                    professionals, ranging from the Aurora pilot to an Orion crew. Stay tuned to hear more.
                </p>

                <p class="lead">
                    Pur'N'Kleen also offers logistics support for your Organization, ranging from single
                    refueling for the stranded pilot to yearly contracts and fuel price hedging. Please don't hesitate
                    to <a href="https://discord.gg/Q9WHD3J">contact us</a> with your fuel needs.
                </p>
            </div>
        </div>

    </div>

{% endblock %}