{% extends 'base.html' %}

{% load static %}

{% block title %}Pur'N'Kleen Fuel Services{% endblock %}

{% block container %}

    <div id="purnkleenServicesFeature">
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div class="jobs-motto">Pur'N'Kleen Services<br/><span class="solutions">Fuel</span></div>
                </div>
            </div>
        </div>
    </div>

    <div class="container purnkleen-marketing">

        <div class="row featurette">
            <div class="col-md-12">
                <h2 class="featurette-heading">Coming soon</h2>
            </div>
        </div>

    </div>

{% endblock %}