{% extends 'base.html' %}

{% load static %}

{% block title %}Pur'N'Kleen Giveaway{% endblock %}

{% block container %}

    <div id="purnkleenGiveawayFeature">
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div class="jobs-motto">Would you like a <span class="solutions">Free</span><br/>P-72 Archimedes with LTI?</div>
                </div>
            </div>
        </div>
    </div>

    <div class="container purnkleen-marketing">

        <div class="row featurette">
            <div class="col-md-12">
                <h2 class="featurette-heading">Answer our Diplomatic Question of the Month</h2>
                <p class="lead">
                    As members of <a href="https://robertsspaceindustries.com/orgs/DIPLOMACY" target="_blank">
                    Interstellar Diplomacy</a> we are sponsoring the Diplomatic Question of the Month for the month of
                    April. We are offering a <strong>P-72 Archimedes with LTI</strong>! Here's how to participate:
                </p>

                <h3>1) Be a member of Interstellar Diplomacy.</h3>
                <p class="lead">
                    To learn more about Interstellar Diplomacy and instructions on how to join, please click
                    <a href="https://robertsspaceindustries.com/orgs/DIPLOMACY" target="_blank">here</a>.
                </p>

                <h3>2) Participate in the discussion.</h3>
                <p class="lead">
                    On April 15, our question will be posted on the Interstellar Diplomacy
                    <a href="https://robertsspaceindustries.com/spectrum/community/DIPLOMACY">spectrum</a> and
                    <a href="https://discord.gg/EDhG6zt">Discord</a>. All you have to do is participate in the
                    discussion and you will gain an entry into the raffle for the prize. Winners will be announced in
                    those channels after the discussion is over.
                    <br/>
                    <strong>The Pur'N'Kleen Question:</strong> <br/>
                    <span style="font-style:italic;">
                        There is a player-run space station that is governed by an alliance of multiple organizations.
                        Resources will need to be brought to this space station such as weapons, ammunition, fuel, food,
                        clothing, and so on. How do you distribute contracts for these resources in a fair manner while
                        also preventing internal conflicts?
                    </span>
                </p>

                <h3>3) Consider becoming a Pur'N'Kleen affiliate.</h3>
                <p class="lead">
                    This is not necessary to win but if you are already here, why not join Pur'N'Kleen as an affiliate?
                    Not only do you get to hang out with some very cool people, but we'll also alert you of future
                    giveaways. For steps on how to join Pur'N'Kleen, please visit our
                    <a href="{% url 'join' %}">Join Us</a> page.
                </p>
            </div>
        </div>

    </div>

{% endblock %}