{% extends 'base.html' %}

{% load static %}

{% block title %}Pur'N'Kleen Giveaway{% endblock %}

{% block container %}

    <div id="purnkleenGiveawayFeature">
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div class="jobs-motto">Would you like a <span class="solutions">Free</span><br/>P-72 Archimedes with LTI?</div>
                </div>
            </div>
        </div>
    </div>

    <div class="container purnkleen-marketing">

        <div class="row featurette">
            <div class="col-md-12">
                <h2 class="featurette-heading">Coming soon</h2>
            </div>
        </div>

    </div>

{% endblock %}