{% extends 'base.html' %}

{% load static %}

{% block title %}Pur'N'Kleen Company{% endblock %}

{% block container %}

    <div id="purnkleenFeature">
        <div class="container">
            <div class="row">
                <div class="col-sm-7 starfarer">
                    <div class="motto">Wherever There’s a Job to Be Done.<br/><span class="solutions">We have solutions</span></div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">

        <div class="row">

            {% if user.is_authenticated %}
                <div class="col-lg-4 col-sm-6">
                    <div class="preview">
                        <div class="image">
                            <a href="{% url 'join' %}">
                                <img class="img-responsive" src="{% static 'img/Diversity.jpg' %}" alt="Diversity"></a>
                        </div>
                        <div class="options">
                            <h3>Oi! Pampaw!</h3>
                            <p>
                                Now that you're logged in, perhaps you want to join PNK as an affiliate or member, sa-sa?
                            </p>
                            <div class="btn-group">
                                <a class="btn btn-lg purnkleen-red-btn" href="{% url 'auth_logout' %}">Sign Out</a>
                            </div>
                            <div class="btn-group">
                                <a class="btn btn-lg purnkleen-green-btn" href="{% url 'join' %}">Join PNK</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col-lg-4 col-sm-6">
                    <div class="preview">
                        <div class="image">
                            <a href="{% url 'registration_register' %}">
                                <img class="img-responsive" src="{% static 'img/Diversity.jpg' %}" alt="Diversity"></a>
                        </div>
                        <div class="options">
                            <h3>Oi! Pampaw!</h3>
                            <p>
                                To use the PNK solutions, you need to Register or Sign In, Sabe?
                            </p>
                            <div class="btn-group">
                                <a class="btn btn-lg purnkleen-red-btn" href="{% url 'registration_register' %}">Register</a>
                            </div>
                            <div class="btn-group">
                                <a class="btn btn-lg purnkleen-green-btn" href="{% url 'auth_login' %}">Sign In</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

            <div class="col-lg-4 col-sm-6">
                <div class="preview">
                    <div class="image">
                        <a href="{% url 'giveaway' %}">
                            <img class="img-responsive" src="{% static 'img/Archimedes.jpg' %}" alt="P-72 Archimedes LTI"></a>
                    </div>
                    <div class="options">
                        <h3>FREE P-72 Archimedes LTI</h3>
                        <p>
                            PNK is sponsoring an Interstellar Diplomacy "Diplomatic question of the month". Click below
                            for more details.
                        </p>
                        <div class="btn-group">
                            <a class="btn btn-lg purnkleen-green-btn" href="{% url 'giveaway' %}">More Details</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="preview">
                    <div class="image">
                        <a href="{% url 'fuel-services' %}">
                            <img class="img-responsive" src="{% static 'img/Fuel.jpg' %}" alt="Fuel Services"></a>
                    </div>
                    <div class="options">
                        <h3>Fuel Services</h3>
                        <p>
                            Our line of fuel products and services are designed to give pros the performance they need
                            to get their jobs done right.
                        </p>
                        <div class="btn-group">
                            <a class="btn btn-lg purnkleen-red-btn" href="{% url 'fuel-services' %}">Fuel Services</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-lg-4 col-sm-6">
                <div class="preview">
                    <div class="image">
                        <a href="{% url 'maintenance-and-repair' %}">
                            <img class="img-responsive" src="{% static 'img/Maintenance.jpg' %}" alt="Maintenance and Repair"></a>
                    </div>
                    <div class="options">
                        <h3>Maintenance Services</h3>
                        <p>
                            Let us take care of the regular maintenance for your ships. Our professional mechanics can
                            fix any problem.
                        </p>
                        <div class="btn-group">
                            <a class="btn btn-lg purnkleen-red-btn" href="{% url 'maintenance-and-repair' %}">Maintenance Services</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="preview">
                    <div class="image">
                        <img class="img-responsive" src="{% static 'img/FleetView.jpg' %}" alt="Fleet View">
                    </div>
                    <div class="options">
                        <h3>Fleet Viewer</h3>
                        <p>A tool to help you manage your fleet.</p>
                        <div class="btn-group">
                            <a class="btn btn-lg purnkleen-red-btn disabled" href="{% url 'fleet-view' %}">Coming soon</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="preview">
                    <div class="image">
                        <img class="img-responsive" src="{% static 'img/MissionPlanner.jpg' %}" alt="Mission Planner">
                    </div>
                    <div class="options">
                        <h3>Mission Planner</h3>
                        <p>A tool to help you plan missions for your org.</p>
                        <div class="btn-group">
                            <a class="btn btn-lg purnkleen-red-btn disabled" href="{% url 'mission-planner' %}">Coming soon</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

{% endblock %}
