{% extends 'base.html' %}

{% load static %}

{% block title %}Pur'N'Kleen Join{% endblock %}

{% block container %}

    <div id="purnkleenAboutFeature">
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div class="jobs-motto">Awww =)<br/><span class="solutions">We love you too!</span></div>
                </div>
            </div>
        </div>
    </div>

    <div class="container purnkleen-marketing">

        <div class="row">
            <div class="col-md-12">
                <h1 class="featurette-heading">WELCOME TO PUR'N'KLEEN o7</h1>
            </div>
        </div>

        {% if user.is_authenticated %}
            <div class="row">
                <div class="col-md-12">
                    <h2>Which type of membership are you most interested in?</h2>
                    <br/>
                </div>
            </div>

            <div class="row">

                <div class="col-lg-2"></div>
                <div class="col-lg-4 col-sm-6">
                    <div class="preview">
                        <div class="image">
                            <img class="img-responsive" src="https://placehold.it/1000x600" alt="Join as a Member-Owner">
                        </div>
                        <div class="options">
                            <h3>Member-Owners</h3>
                            <p>
                                Receive <a href="{% url 'benefits' %}">full risks and benefits</a> of working in, owning, and operating Pur’N’Kleen.<br/><br/>
                                Expected to equitably contribute to and benefit from the capital of Pur’N’Kleen.<br/><br/>
                                Can decide how the net income, or net losses, are allocated.<br/><br/>
                                Govern and control the enterprise on the basis of one member-one vote.<br/><br/>
                                Work together (as opposed to be independent contractors) in a commonly owned business.
                            </p>
                            <div class="btn-group">
                                <a class="btn btn-lg purnkleen-red-btn disabled" href="{% url 'mission-planner' %}">Join as a Member-Owner</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6">
                    <div class="preview">
                        <div class="image">
                            <img class="img-responsive" src="https://placehold.it/1000x600" alt="Join as an Affiliate">
                        </div>
                        <div class="options">
                            <h3>Affiliates</h3>
                            <p>
                                Receive the same hourly wage as Pur’N’Kleen members.<br/><br/>
                                Do not participate in the decision-making process.<br/><br/>
                                Are hired as necessary.<br/><br/><br/><br/><br/><br/><br/><br/><br/>
                            </p>
                            <div class="btn-group">
                                <a class="btn btn-lg purnkleen-red-btn disabled" href="{% url 'mission-planner' %}">Join as an Affiliate</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2"></div>

            </div>

            <div class="row">
                <div class="col-md-12">
                    <p>Still not sure? <a href="https://discord.gg/QADycb2">Contact us on Discord.</a></p>
                </div>
            </div>
        {% else %}
            <div class="row">
                <div class="col-md-12">
                    <h2 class="featurette-heading">You are not signed in</h2>
                    <p>
                        First step is to register for an account on this website.
                        Click here to <a href="{% url 'registration_register' %}">register</a>.
                        <br/>
                        Already have an account? Click here to <a href="{% url 'auth_login' %}">sign in</a>.
                    </p>
                </div>
            </div>
        {% endif %}


    </div>

{% endblock %}