{% extends 'base.html' %}

{% load static %}

{% block title %}Pur'N'Kleen Links and Tools{% endblock %}

{% block container %}

    <div id="purnkleenKnowledgeFeature">
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div class="jobs-motto">Pur'N'Kleen<br/><span class="solutions">Links and Tools</span></div>
                </div>
            </div>
        </div>
    </div>

    <div class="container purnkleen-marketing">

        <div class="row featurette">
            <div class="col-md-4">
                <div class="list-group">
                    <a href="#" class="list-group-item active">
                        <h2 class="list-group-item-heading">Allies and Orgs</h2>
                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">List group item heading</h4>
                        <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">List group item heading</h4>
                        <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="list-group">
                    <a href="#" class="list-group-item active">
                        <h2 class="list-group-item-heading">Resources</h2>
                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">List group item heading</h4>
                        <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">List group item heading</h4>
                        <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="list-group">
                    <a href="#" class="list-group-item active">
                        <h2 class="list-group-item-heading">CIG Official</h2>
                    </a>
                    <a href="http://www.google.com" class="list-group-item">
                        <h4 class="list-group-item-heading">Google</h4>
                        <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">List group item heading</h4>
                        <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                    </a>
                </div>
            </div>
        </div>

    </div>

{% endblock %}