{% extends 'mypnk_base.html' %}

{% load static %}

{% block container %}

<div id="purnkleenTeamFeature">
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="team-motto">THERE ARE DOZENS OF US<br><span class="solutions">DOZENS!</span></div>
            </div>
        </div>
    </div>
</div>

<div id="team" class="container purnkleen-marketing">

    <div class="row featurette">
        <div class="col-md-12">
            <h2 class="featurette-heading">Current Members</span></h2>
            <ul class="player_list">
                <li class="player_row odd">
                    <div class="player_image_container">
                        <a href="https://robertsspaceindustries.com/citizens/rommelrico">
                            <img src="{% static 'img/star_citizen_marine.png' %}" alt="Rommel Rico" title="Rommel Rico" height="125" width="88">
                        </a>
                    </div>
                    <div class="player_info">
                        <div class="player_name">Rommel Rico</div>
                        <div class="player_stats">
                            <div class="handle">
                                <span class="category">Callsign:</span>
                                <span>rommel</span>
                            </div>
                            <div class="role">
                                <span class="category">Ship:</span>
                                <span>PNK Rocinante</span>
                            </div>
                            <div class="age">
                                <span class="category">Age:</span>
                                <span>28</span>
                            </div>
                            <div class="date">
                                <span class="category">Joined:</span>
                                <span>December 2015</span>
                            </div>
                        </div>
                        <span class="designation">Trained</span>
                        <span class="designation">Veteran</span>
                        <span class="designation">Commander</span>
                    </div>
                </li>
                <li class="player_row even">
                    <div class="player_image_container">
                        <a href="https://robertsspaceindustries.com/citizens/axordg">
                            <img src="{% static 'img/star_citizen_marine.png' %}" alt="Gustavo Diaz" title="Gustavo Diaz" height="125" width="88">
                        </a>
                    </div>
                    <div class="player_info">
                        <div class="player_name">Gustavo Diaz</div>
                        <div class="player_stats">
                            <div class="handle">
                                <span class="category">Callsign:</span>
                                <span>Axor</span>
                            </div>
                            <div class="role">
                                <span class="category">Ship:</span>
                                <span>PNK Super Hornet</span>
                            </div>
                            <div class="age">
                                <span class="category">Age:</span>
                                <span>28</span>
                            </div>
                            <div class="date">
                                <span class="category">Joined:</span>
                                <span>December 2015</span>
                            </div>
                        </div>
                        <span class="designation">Veteran</span>
                    </div>
                </li>
                <li class="player_row odd">
                    <div class="player_image_container">
                        <a href="https://robertsspaceindustries.com/citizens/erickrico">
                            <img src="{% static 'img/star_citizen_marine.png' %}" alt="Erick Rico" title="Erick Rico" height="125" width="88">
                        </a>
                    </div>
                    <div class="player_info">
                        <div class="player_name">Erick Rico</div>
                        <div class="player_stats">
                            <div class="handle">
                                <span class="category">Callsign:</span>
                                <span>Erick</span>
                            </div>
                            <div class="role">
                                <span class="category">Ship:</span>
                                <span>PNK Freelancer</span>
                            </div>
                            <div class="age">
                                <span class="category">Age:</span>
                                <span>25</span>
                            </div>
                            <div class="date">
                                <span class="category">Joined:</span>
                                <span>March 2016</span>
                            </div>
                        </div>
                        <span class="designation">Veteran</span>
                    </div>
                </li>
                <li class="player_row even">
                    <div class="player_image_container">
                        <a href="https://robertsspaceindustries.com/citizens/CaptainCoff">
                            <img src="{% static 'img/star_citizen_marine.png' %}" alt="Christian Paduraru" title="Christian Paduraru" height="125" width="88">
                        </a>
                    </div>
                    <div class="player_info">
                        <div class="player_name">Christian Paduraru</div>
                        <div class="player_stats">
                            <div class="handle">
                                <span class="category">Callsign:</span>
                                <span>Coffster</span>
                            </div>
                            <div class="role">
                                <span class="category">Ship:</span>
                                <span>PNK Starfarer</span>
                            </div>
                            <div class="age">
                                <span class="category">Age:</span>
                                <span>28</span>
                            </div>
                            <div class="date">
                                <span class="category">Joined:</span>
                                <span>April 2016</span>
                            </div>
                        </div>
                        <span class="designation">Veteran</span>
                    </div>
                </li>
                <li class="player_row odd">
                    <div class="player_image_container">
                        <a href="https://robertsspaceindustries.com/citizens/ZadenPax">
                            <img src="{% static 'img/star_citizen_marine.png' %}" alt="Zach Parham" title="Zach Parham" height="125" width="88">
                        </a>
                    </div>
                    <div class="player_info">
                        <div class="player_name">Zach Parham</div>
                        <div class="player_stats">
                            <div class="handle">
                                <span class="category">Callsign:</span>
                                <span>ZadenPax</span>
                            </div>
                            <div class="role">
                                <span class="category">Ship:</span>
                                <span>PNK Constellation Taurus</span>
                            </div>
                            <div class="age">
                                <span class="category">Age:</span>
                                <span>17</span>
                            </div>
                            <div class="date">
                                <span class="category">Joined:</span>
                                <span>May 2016</span>
                            </div>
                        </div>
                        <span class="designation">Veteran</span>
                    </div>
                </li>
                <li class="player_row even">
                    <div class="player_image_container">
                        <a href="https://robertsspaceindustries.com/citizens/GlistemimgPotatoz">
                            <img src="{% static 'img/star_citizen_marine.png' %}" alt="Isaiah Speights" title="Isaiah Speights" height="125" width="88">
                        </a>
                    </div>
                    <div class="player_info">
                        <div class="player_name">Isaiah Speights</div>
                        <div class="player_stats">
                            <div class="handle">
                                <span class="category">Callsign:</span>
                                <span>GlistemimgPotatoz</span>
                            </div>
                            <div class="role">
                                <span class="category">Ship:</span>
                                <span>PNK Aurora</span>
                            </div>
                            <div class="age">
                                <span class="category">Age:</span>
                                <span>17</span>
                            </div>
                            <div class="date">
                                <span class="category">Joined:</span>
                                <span>April 2016</span>
                            </div>
                        </div>
                        <span class="designation">Veteran</span>
                    </div>
                </li>
                <li class="player_row odd">
                    <div class="player_image_container">
                        <a href="https://robertsspaceindustries.com/citizens/Tar_Garyen">
                            <img src="{% static 'img/star_citizen_marine.png' %}" alt="Christopher Ford" title="Christopher Ford" height="125" width="88">
                        </a>
                    </div>
                    <div class="player_info">
                        <div class="player_name">Christopher Ford</div>
                        <div class="player_stats">
                            <div class="handle">
                                <span class="category">Callsign:</span>
                                <span>Tar Garyen</span>
                            </div>
                            <div class="role">
                                <span class="category">Ship:</span>
                                <span>PNK Starfarer</span>
                            </div>
                            <div class="age">
                                <span class="category">Age:</span>
                                <span>45</span>
                            </div>
                            <div class="date">
                                <span class="category">Joined:</span>
                                <span>August 2016</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="player_row even">
                    <div class="player_image_container">
                        <a href="https://robertsspaceindustries.com/citizens/ausie">
                            <img src="{% static 'img/star_citizen_marine.png' %}" alt="Hamish Nixon" title="Hamish Nixon" height="125" width="88">
                        </a>
                    </div>
                    <div class="player_info">
                        <div class="player_name">Hamish Nixon</div>
                        <div class="player_stats">
                            <div class="handle">
                                <span class="category">Callsign:</span>
                                <span>Ausie</span>
                            </div>
                            <div class="role">
                                <span class="category">Ship:</span>
                                <span>PNK Starfarer</span>
                            </div>
                            <div class="age">
                                <span class="category">Age:</span>
                                <span>25</span>
                            </div>
                            <div class="date">
                                <span class="category">Joined:</span>
                                <span>August 2016</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="player_row odd">
                    <div class="player_image_container">
                        <a href="https://robertsspaceindustries.com/citizens/spettern">
                            <img src="{% static 'img/star_citizen_marine.png' %}" alt="Stian H. Granheim" title="Stian H. Granheim" height="125" width="88">
                        </a>
                    </div>
                    <div class="player_info">
                        <div class="player_name">Stian H. Granheim</div>
                        <div class="player_stats">
                            <div class="handle">
                                <span class="category">Callsign:</span>
                                <span>Spettern</span>
                            </div>
                            <div class="role">
                                <span class="category">Ship:</span>
                                <span>PNK Starfarer</span>
                            </div>
                            <div class="age">
                                <span class="category">Age:</span>
                                <span>37</span>
                            </div>
                            <div class="date">
                                <span class="category">Joined:</span>
                                <span>August 2016</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="player_row even">
                    <div class="player_image_container">
                        <a href="https://robertsspaceindustries.com/citizens/Neromi">
                            <img src="{% static 'img/star_citizen_marine.png' %}" alt="Vincent Williams" title="Vincent Williams" height="125" width="88">
                        </a>
                    </div>
                    <div class="player_info">
                        <div class="player_name">Vincent Williams</div>
                        <div class="player_stats">
                            <div class="handle">
                                <span class="category">Callsign:</span>
                                <span>Neromi</span>
                            </div>
                            <div class="role">
                                <span class="category">Ship:</span>
                                <span>PNK Sabre</span>
                            </div>
                            <div class="age">
                                <span class="category">Age:</span>
                                <span>22</span>
                            </div>
                            <div class="date">
                                <span class="category">Joined:</span>
                                <span>August 2016</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="player_row odd">
                    <div class="player_image_container">
                        <a href="https://robertsspaceindustries.com/citizens/Vostok3">
                            <img src="{% static 'img/star_citizen_marine.png' %}" alt="Youri Dingemans" title="Youri Dingemans" height="125" width="88">
                        </a>
                    </div>
                    <div class="player_info">
                        <div class="player_name">Youri Dingemans</div>
                        <div class="player_stats">
                            <div class="handle">
                                <span class="category">Callsign:</span>
                                <span>Vostok3</span>
                            </div>
                            <div class="role">
                                <span class="category">Ship:</span>
                                <span>PNK Aurora MR</span>
                            </div>
                            <div class="age">
                                <span class="category">Age:</span>
                                <span>28</span>
                            </div>
                            <div class="date">
                                <span class="category">Joined:</span>
                                <span>October 2016</span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <!--<hr class="featurette-divider">-->

    <!--<div class="row featurette">-->
        <!--<div class="col-md-12">-->
            <!--<h2 class="featurette-heading">Former Members</span></h2>-->
            <!--<ul class="player_list">-->
                <!--<li class="player_row odd">-->
                    <!--<div class="player_image_container">-->
                        <!--<a href="https://robertsspaceindustries.com/citizens/rommelrico">-->
                            <!--<img src="{% static 'img/star_citizen_marine.png' %}" alt="Rommel Rico" title="Rommel Rico" height="125" width="88">-->
                        <!--</a>-->
                    <!--</div>-->
                    <!--<div class="player_info">-->
                        <!--<div class="player_name">Rommel Rico</div>-->
                        <!--<div class="player_stats">-->
                            <!--<div class="handle">-->
                                <!--<span class="category">Callsign:</span>-->
                                <!--<span>rommel</span>-->
                            <!--</div>-->
                            <!--<div class="role">-->
                                <!--<span class="category">Member from:</span>-->
                                <!--<span>December 2015 - March 2016</span>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<span class="designation">Trained</span>-->
                        <!--<span class="designation">Veteran</span>-->
                        <!--<span class="designation">Commander</span>-->
                    <!--</div>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->

    <!--<hr class="featurette-divider">-->

    <!--<div class="row featurette">-->
        <!--<div class="col-md-12">-->
            <!--<h2 class="featurette-heading">KIA</span></h2>-->
            <!--<ul class="player_list">-->
                <!--<li class="player_row odd">-->
                    <!--<div class="player_image_container">-->
                        <!--<a href="https://robertsspaceindustries.com/citizens/rommelrico">-->
                            <!--<img src="{% static 'img/star_citizen_marine.png' %}" alt="Rommel Rico" title="Rommel Rico" height="125" width="88">-->
                        <!--</a>-->
                    <!--</div>-->
                    <!--<div class="player_info">-->
                        <!--<div class="player_name">Rommel Rico</div>-->
                        <!--<div class="player_stats">-->
                            <!--<div class="handle">-->
                                <!--<span class="category">Callsign:</span>-->
                                <!--<span>rommel</span>-->
                            <!--</div>-->
                            <!--<div class="age">-->
                                <!--<span class="category">Age:</span>-->
                                <!--<span>28 (Died Sept. 25, 2016)</span>-->
                            <!--</div>-->
                            <!--<div class="incident">-->
                                <!--<span class="category">Incident:</span>-->
                                <!--<span>Died in the line of service while defending the fleet against Vanduul</span>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<span class="designation">Trained</span>-->
                        <!--<span class="designation">Veteran</span>-->
                        <!--<span class="designation">Commander</span>-->
                    <!--</div>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->

    <hr class="featurette-divider">

{% endblock %}
