{% extends 'base.html' %}

{% load static %}

{% block title %}Pur'N'Kleen Team{% endblock %}

{% block container %}

<div id="purnkleenAboutFeature">
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="team-motto">THERE ARE DOZENS OF US<br><span class="solutions">DOZENS!</span></div>
            </div>
        </div>
    </div>
</div>

<div id="team" class="container purnkleen-marketing">

    <div class="row featurette">
        <div class="col-md-12">
            <h2 class="featurette-heading">Current Members</h2>
            <ul class="player_list">
                {% for employee in pnkemployee_list %}
                    <li class="player_row {{forloop.counter|divisibleby:2|yesno:"even,odd"}}">
                        <div class="player_image_container">
                            <a href="{% url 'my_profile' employee.emp_no %}">
                                <img src="{% if employee.image.thumbnail.url != None %}{{ employee.image.thumbnail.url }}{% else %}{% static 'img/star_citizen_marine.png' %}{% endif %}"
                                     alt="{{ employee.user.first_name }} {{ employee.user.last_name }}"
                                     title="{{ employee.user.first_name }} {{ employee.user.last_name }}"
                                     height="125" width="88">
                            </a>
                        </div>
                        <div class="player_info">
                            <div class="player_name">{{ employee.user.first_name }} {{ employee.user.last_name }}</div>
                            <div class="player_stats">
                                <div class="handle">
                                    <span class="category">Callsign:</span>
                                    <span>{{ employee.callsign }}</span>
                                </div>
                                <div class="type">
                                    <span class="category">Status:</span>
                                    <span>
                                        {% if employee.type == 'MEM' %}
                                            Member-Owner
                                        {% elif employee.type == 'AFF' %}
                                            Affiliate
                                        {% elif employee.type == 'RET' %}
                                            Retired
                                        {% elif employee.type == 'KIA' %}
                                            Killed in action
                                        {% else %}
                                            N/A
                                        {% endif %}
                                    </span>
                                </div>
                                <div class="date">
                                    <span class="category">Hire Date:</span>
                                    <span>{{ employee.hire_date|date:"d M Y" }}</span>
                                </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

</div>

{% endblock %}
