{% extends 'base.html' %}

{% load static %}

{% block title %}Pur'N'Kleen Transportation Services{% endblock %}

{% block container %}

    <div id="purnkleenServicesFeature">
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div class="jobs-motto">Pur'N'Kleen Services<br/><span class="solutions">Transportation</span></div>
                </div>
            </div>
        </div>
    </div>

    <div class="container purnkleen-marketing">

        <div class="row featurette">
            <div class="col-md-12">
                <h2 class="featurette-heading">Coming with Star Citizen 3.0</h2>
                <p class="lead">
                    The Star Citizen universe is a vast expanse of systems and planets, but Pur'N'Kleen makes shipping
                    easy. We offer two reliable services:

                    <dl class="dl-horizontal lead">
                        <dt>Pur'N'Kleen Priority</dt>
                        <dd>If speed is critical, this service provides fast-transit delivery of time-sensitive freight to meet your supply chain needs.</dd>
                        <dt>Pur'N'Kleen Economy</dt>
                        <dd>If you can trade time for savings, this services provides reliable shipments at a lower price.</dd>
                    </dl>
                </p>

                <p class="lead">
                    Pur'N'Kleen also offers logistics support for other Organizations. Take your business across star
                    systems while leveraging our reliable service. Please don't hesitate to
                    <a href="https://discord.gg/Q9WHD3J">contact us</a> with your shipping and supply chain needs.
                </p>
            </div>
        </div>

    </div>

{% endblock %}