{% extends 'base.html' %}

{% load static %}

{% block title %}Pur'N'Kleen Vision{% endblock %}

{% block container %}

    <div id="purnkleenAboutFeature">
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div class="jobs-motto">About Pur'N'Kleen<br/><span class="solutions">Vision Statement</span></div>
                </div>
            </div>
        </div>
    </div>

    <div class="container purnkleen-marketing">

        <div class="row featurette">
            <div class="col-md-12">
                <h2 class="featurette-heading">Vision Statement</h2>
                <p class="lead">
                    Our vision is to deliver unique, high value and easy-to-use solutions for a wide variety of
                    maintenance and supply chain needs of Star Citizen organizations. We will become the premier and
                    sole organizational provider of these services in our area of operations through strategic
                    partnerships with our allies.
                </p>
            </div>
        </div>

    </div>

{% endblock %}